html {
     scroll-behavior: smooth;
}

body {
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify;
    color: #cccccc;
    background-color: black;

    /*margin: 0;
    padding: 2px; */
}

p {
     text-indent: 1.25cm;
     margin-bottom: 0;
}

.citacao-longa-abnt {
     font-size: 10pt;
     line-height: 1.0;
     margin-left: 4cm;
     margin-top: 1.5em;
     margin-bottom: 1.5em;
     text-align: justify;
     border: none;
     color: #bbbbbb;
}

.login {
     display: grid;
     place-items: center;
}

a {
    color: gray;
    text-decoration: none;
}

a[href^="#ref"] {
    font-size: 0.8em;
    vertical-align: super;
    text-decocation: none;
    margin-left: 2px;
    font-weight: bold;
}

li:target {
     background-color: #303000;
     transition: background-color 2s;
}

.cornered {
    padding: 3px 18px 3px 18px;
    border: 1px solid gray;
}
