body {
    color: #cccccc;
    background-color: black;
    /* font-family: "Ubuntu", sans-serif; */
    font-style: normal;
    font-size: 16px;

    /*margin: 0;
    padding: 2px; */
}

.login {
     display: grid;
     place-items: center;
}

a {
    color: gray;
    text-decoration: none;
}

.cornered {
    padding: 3px 18px 3px 18px;
    border: 1px solid gray;
}
